.aboutContainer {
   background: linear-gradient(180deg, #FFFAF0,white );
}
#about {
   width: calc(100vw - 6em);
   max-width: 800px;
}
.logo-small {
   color: #f4511e;
   font-size: 50px;
}
.logo {
   color: #f4511e;
   font-size: 200px;
}
@media screen and (max-width: 480px) {
   .logo {
      font-size: 150px;
   }
}
