.col-100 {
  font: normal 20px Arial;
  width: 100%;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 3px;
}
.accountingMenuContainer {
   top: 10vh;
   position: relative;
   max-width: 880px;
   width: 100vw;
   margin: 0 auto;
   height: 100vh;
   /* border: 1px solid yellow; */
   padding: 20px;
   z-index: 1002;
}
.accountantContainer {
  top: 10vh;
  position: relative;
  max-width: 880px;
  width: 100vw;
  margin: 0 auto;
  height: 100%;
  /* border: 1px solid yellow; */
  padding: 10px;
  z-index: 1002;
}
.accountantContainer #closeAccountant {
  /* border: solid 1px red; */
  position: relative;
  margin-bottom: 10px;
  /* padding-top: 10px; */
  /* padding-right: 5px; */
  /* font: normal 18px Arial; */
  max-width: 845px;
  width: 95vw;
  height: 40px;
  margin: 0 auto;
}
.accountantSubject {
  font: normal 12px Arial;
  /* border: solid 1px green; */
}
.accountingMenuContainer .panel {
  background-color: rgb(246, 248, 245);
}
.panel-body .radioContainer {
   float: left;
   position: relative;
   /* max-width: 100px; */
   width: 33%;
   margin: 0 auto;
   /* height: 100vh; */
   /* background-color: grey; */
   /* border: 1px solid yellow; */
   /* padding: 20px; */
   z-index: 1002;
}
.panel-body #radioLabel {
   margin-left: 4px;
}
.accountantContainer .tableDataLee td {
  font: normal 12px Arial;
  color: black;
  padding: 2px;
  border: 1px solid #999;
}
.accountantContainer #tableDataChe td {
  font: normal 12px Arial;
  color: black;
  padding: 2px;
  border: 1px solid #999;
}
.accountantContainer #tableDataCheRoma td {
  font: normal 12px Arial;
  color: black;
  padding: 2px;
  border: 1px solid #999;
}
.accountantContainer #tableDataLee td:nth-child(1) { width: 10px; text-align: left;}
.accountantContainer #tableDataLee td:nth-child(2) { width: 35px; text-align: center;}
.accountantContainer #tableDataLee td:nth-child(3) { width: 15px; text-align: left;}
.accountantContainer #tableDataLee td:nth-child(4) { width: 150px; text-align: left;}
.accountantContainer #tableDataLee td:nth-child(5) { width: 100px; text-align: left;}
.accountantContainer #tableDataLee td:nth-child(6) { width: 75px; text-align: center;}
.accountantContainer #tableDataLee td:nth-child(7) { width: 50px; text-align: right;}
.accountantContainer #tableDataLee td:nth-child(8) { width: 75px; text-align: center;}
.accountantContainer #tableDataLee td:nth-child(9) { width: 75px; text-align: left;}
.accountantContainer #tableDataLee td:nth-child(10) { width: 75px; text-align: left;}
.accountantContainer #tableDataLee td:nth-child(11) { width: 75px; text-align: left;}
.accountantContainer #tableDataLee td:nth-child(12) { width: 75px; text-align: center;}

.accountantContainer #tableDataChe td:nth-child(1) { width: 10px; text-align: left;}
.accountantContainer #tableDataChe td:nth-child(2) { width: 35px; text-align: center;}
.accountantContainer #tableDataChe td:nth-child(3) { width: 15px; text-align: left;}
.accountantContainer #tableDataChe td:nth-child(4) { width: 150px; text-align: left;}
.accountantContainer #tableDataChe td:nth-child(5) { width: 100px; text-align: left;}
.accountantContainer #tableDataChe td:nth-child(6) { width: 75px; text-align: center;}
.accountantContainer #tableDataChe td:nth-child(7) { width: 50px; text-align: right;}
.accountantContainer #tableDataChe td:nth-child(8) { width: 75px; text-align: center;}
.accountantContainer #tableDataChe td:nth-child(9) { width: 75px; text-align: left;}
.accountantContainer #tableDataChe td:nth-child(10) { width: 75px; text-align: left;}
.accountantContainer #tableDataChe td:nth-child(11) { width: 75px; text-align: left;}
.accountantContainer #tableDataChe td:nth-child(12) { width: 75px; text-align: center;}

.accountantContainer #tableDataCheRoma td:nth-child(1) { width: 10px; text-align: left;}
.accountantContainer #tableDataCheRoma td:nth-child(2) { width: 35px; text-align: center;}
.accountantContainer #tableDataCheRoma td:nth-child(3) { width: 15px; text-align: left;}
.accountantContainer #tableDataCheRoma td:nth-child(4) { width: 150px; text-align: left;}
.accountantContainer #tableDataCheRoma td:nth-child(5) { width: 100px; text-align: left;}
.accountantContainer #tableDataCheRoma td:nth-child(6) { width: 75px; text-align: center;}
.accountantContainer #tableDataCheRoma td:nth-child(7) { width: 50px; text-align: right;}
.accountantContainer #tableDataCheRoma td:nth-child(8) { width: 75px; text-align: center;}
.accountantContainer #tableDataCheRoma td:nth-child(9) { width: 75px; text-align: left;}
.accountantContainer #tableDataCheRoma td:nth-child(10) { width: 75px; text-align: left;}
.accountantContainer #tableDataCheRoma td:nth-child(11) { width: 75px; text-align: left;}
.accountantContainer #tableDataCheRoma td:nth-child(12) { width: 75px; text-align: center;}

.accountantContainer #tableContainer {
  /* position: fixed; */
  width: 95vw;
  max-width: 880px;
  height: 95vh;
  overflow: auto;
  /* border: 1px solid green; */
}
#tableContainer .tableDataChe .tableDataLee .tableDataCheRoma{
   margin-top: 10px;
}
/* #tableContainer .tableDataLee {
   margin-top: 10px;
} */
#saveAccountant {
  border: 2px solid green;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 3px;
  width: 98%;
  height: 40px;
}
