.changeDBTablesMenuContainer {
  top: 10vh;
  position: relative;
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  z-index: 1002;
}
.changeDBTablesMenuContainer .panel {
   background-color: rgb(246, 248, 245);
}
.separator {
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  height: 2vh;
}
#subMenuPopUpHolder, #subMenu {
  position: relative;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  z-index: 1003;
}
#moreInfoParent, #moreInfoChild {
  position: relative;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  z-index: 1004;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .col-25, .col-75, input[type=text] {
    width: 100%;
    margin-top: 0;
  }
}
