* {
   box-sizing: border-box;
}
body {
   font-family: Verdana, sans-serif;
   margin:0;;
   background-color: rgb(246, 248, 245);
   overflow-x: hidden;
}
.bg-grey {
   background-color: red;
}
q {
   quotes: "\00ab" "\00bb	";
}
.jumbotron {
   background-color: transparent;
}
.slideanim {visibility:hidden;}
.slide {
   animation-name: slide;
   -webkit-animation-name: slide;
   animation-duration: 1s;
   -webkit-animation-duration: 1s;
   visibility: visible;
}
@keyframes slide {
   0% {
      opacity: 0;
      transform: translateY(70%);
   }
   100% {
      opacity: 1;
      transform: translateY(0%);
   }
}
@-webkit-keyframes slide {
   0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
   }
}
