.contactsContainer {
   background-color: white;
}
.contactsContainer > p {
   color: gray;
   text-align: left;
}
#contacts {
  width: calc(100vw - 6em);
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}
