.jumbotron-container {
   z-index: 80;
}
.profiles, .info { list-style:none; cursor:pointer; }
.info, .pic {
   max-width: 100vw;
   width: 100vw;
   margin: 0 calc(-50vw + 50%);
   max-height: 60vh;
   object-fit: cover;
}
.info {
   font-family: 'Lato', sans-serif; color:black; font-size:80px;
   margin-top: -25%;
   text-align:center;
}
.info a { font-weight:bold; font-size:25px; color:#fff; text-decoration:none; }
.info a:hover { text-decoration:underline; }

.pic2 {
   opacity: 0;
   margin-top: -90%;
}
.box-with-text {
   font-size: 2em;
}

#explode img, .box-with-text {
   position: relative;
}
#explode {
   height: 275px;
}
