.col-100 {
  font: normal 20px Arial;
  width: 100%;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 3px;
}

#analyticsExecuteChoiceDetailed,
#analyticsExecuteChoiceSummary,
#analyticsExecuteChoiceRaw,
#analyticsExecuteChoiceDetailedSummary,
#analyticsExecuteChoiceExchange {
  padding: 5px;
  margin: 5px;
  width: 90%;
  z-index: 2000;
}

.menuContainer {
   top: 10vh;
   position: relative;
   max-width: 880px;
   width: 100vw;
   margin: 0 auto;
   height: 100vh;
   padding: 20px;
   z-index: 1002;
}
.menuContainer .panel {
  background-color: rgb(246, 248, 245);
}

#analyticsContainer {
  top: 17vh;
  position: relative;
  max-width: 880px;
  width: 100vw;
  margin: 0 auto;
  padding: 10px;
  z-index: 1002;
}

.analyticsSubject {
  font: normal 18px Arial;
  margin-top: 10px;
  position: relative;
}

.panel-body .radioContainer {
   float: left;
   position: relative;
   width: 33%;
   margin: 0 auto;
   z-index: 1002;
}

.panel-body #radioLabel {
   margin-left: 4px;
}

#closeAnalytics {
  position: relative;
  margin-bottom: 20px;
  max-width: 845px;
  width: 95vw;
  height: 40px;
  margin: 0 auto;
}

.container #tableContainer {
  width: 95vw;
  max-width: 880px;
  height: 95vh;
  overflow: auto;
}

.analytics #tableDataAnalytics td,
#tableDataAnalyticsSummary td {
  font: normal 12px Arial;
  color: black;
  padding: 2px;
  border: 1px solid #999;
}
#tableDataAnalytics td:nth-child(1) { width: 5px; text-align: left;}
#tableDataAnalytics td:nth-child(2) { width: 45px; text-align: center;}
#tableDataAnalytics td:nth-child(3) { width: 5px; text-align: center;}
#tableDataAnalytics td:nth-child(4) { width: 150px; text-align: left;}
#tableDataAnalytics td:nth-child(5) { width: 250px; text-align: left;}
#tableDataAnalytics td:nth-child(6) { width: 15px; text-align: center;}
#tableDataAnalytics td:nth-child(7) { width: 5px; text-align: right;}
#tableDataAnalytics td:nth-child(8) { width: 20px; text-align: right;}
#tableDataAnalytics td:nth-child(9) { width: 80px; text-align: right;}

#tableDataAnalyticsSummary td:nth-child(1) { width: 5px; text-align: left;}
#tableDataAnalyticsSummary td:nth-child(2) { width: 250px; text-align: left;}
#tableDataAnalyticsSummary td:nth-child(3) { width: 250px; text-align: left;}
#tableDataAnalyticsSummary td:nth-child(4) { width: 35px; text-align: left;}
#tableDataAnalyticsSummary td:nth-child(5) { width: 35px; text-align: left;}
#tableDataAnalyticsSummary td:nth-child(6) { width: 35px; text-align: left;}
#tableDataAnalyticsSummary td:nth-child(7) { width: 100px; text-align: center;}

#tableContainer .tableDataAnalytics, .tableDataAnalyticsSummary{
   margin-top: 10px;
}
#saveAnalytics, #saveAnalyticsSummary, #saveAnalyticsExchange {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 3px;
  width: 98%;
  height: 40px;
  font: normal 18px Arial;
}
