#myNavbar {
   margin-top: 1%;
   left: 0;
}
.navContainer {
   width: 100%;
   position: relative;
   margin: 0 auto;
}
.text-logo {
  font-family: 'Indie Flower', cursive;
  font-size: 8em;
  text-align: center;
  font-weight: bold;
  margin-bottom: -50px;
}

.text-sub-logo {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
}

.navbar {
   z-index: 95;
   border: 0;
   line-height: 1.42857143 !important;
   letter-spacing: 4px;
   border-radius: 0;
   background-color: #F0FFF0;
   margin-bottom: 0;
}
.nav.navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.navbar li a, .navbar .navbar-brand {
   color: black !important;
   font-size: 1.5em !important;
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
}
#basketwidjet {
   color: red !important;
   font-size: 1.5em !important;
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
   color: #f4511e !important;
   background-color: #fff !important;
 }
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    background-color: black;
}
.navbar-toggle:hover {
     background: white !important;
     color: #F4511e !important;
}
.navbar-toggle:focus {
     background: black !important;
     color: #F4511e !important;
}
.navbar-toggle:hover .icon-bar {
     background: #F4511e !important;
}
.navbar-toggle:focus .icon-bar {
     background: #F4511e !important;
}
.navbar-toggle .icon-bar {
     background: white !important;
}
.navbar-brand {
   border: solid transparent;
   width: 100px;
}
