#news {
   width: 100%;
   max-width: 1600px;
   /* position: relative;
   margin: 0 auto; */
}
.products-row .panel-custom {
   /* border: 1px solid #f4511e; */
   border: none;
   /* border: 155px solid black; */
   border-radius: 0;
   /* padding: 5px; */
   /* margin: 5px; */
   transition: box-shadow 0.5s;
   /* background-color: rgb(167, 168, 165); */
}

.border {
  /* border: 1px solid rgb(167, 168, 165); */
  /* border: 155px solid black; */
  border-radius: 10;
  /* padding: 5px; */
  /* margin: 5px; */
}

.panel-body {
  /* background-color: rgb(167, 168, 165); */
}

.panel:hover {
   box-shadow: 2px 0px 20px rgba(1,1,10, .2);
}

.products-row .panel {
   box-shadow: 0px 0px 10px rgba(1,1,10, .2);
}

.panel-footer .btn:hover {
   /* border: 1px solid #f4511e; */
   /* background-color: #fff !important; */
   /* background-color: rgb(167, 168, 165); */
   color: #f4511e;
}
.panel-heading {
   color: black;
   /* background-color: #f4511e !important; */
   /* background-color: rgb(167, 168, 165); */
   padding: 10px;
   border-bottom: 1px solid transparent;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}
.panel-footer {
   background-color: white;
}
.panel-footer h3 {
   font-size: 32px;
}
.panel-footer h4 {
   color: #aaa;
   font-size: 14px;
}
.panel-footer .btn {
   margin: 15px 0;
   background-color: #f4511e;
   color: #fff;
}
