#products {
   z-index: 90;
   margin-top: 1em;
}

.products-row {
  background-color: rgb(246, 248, 245);
}
.products-row .thumbnail {
   border: none;
   border-radius: 0;
   background-color: transparent;
   margin-bottom: 0;
}
.products-row .thumbnail img {
   width: 50%;
   height: 50%;
}
.col-sm-4 {
   background-color: rgb(246, 248, 245);
}
#productsContainer {
   background-color: rgb(246, 248, 245);
   max-width: 1150px;
   width: calc(100vw - 1em);
   margin: 0 auto;
   position: relative;
}
#products button {
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 768px) {
   .col-sm-4 {
      text-align: center;
   }
}