#optionGroup {
  min-width: 200px;
}
#connection-data {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1001;
}
#tableSummaryHeaderData {
  margin-top: 30px;
  border: solid 1px grey;
}
#tableSummaryHeaderData td {
  border: 2px solid #999;
  font-weight: bold;
  text-align: right;
}
#tableSummaryData td {
  border: 2px solid #999;
  font-weight: bold;
  text-align: right;
}
#agentStatusTableData {
  border: 1px solid red;
  width: 100%;
  max-width: 700px;
}
#agentStatusContainer {
  top: 30vh;
  position: relative;
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  padding: 10px;
  z-index: 1001;
}
#agentStatusContainer td {
  border: 1px solid #999;
  text-align: right;
  font: normal 12px Arial;
}
#agentStatusContainer td {padding: 5px;}
#agentStatusContainer td:nth-child(1) { width: 10%; }		/*Район*/
#agentStatusContainer td:nth-child(2) { width: 25%; }		/*Сумма продаж*/
#agentStatusContainer td:nth-child(3) { width: 15%; }		/*Наличными*/
#agentStatusContainer td:nth-child(4) { width: 15%; }		/*Всего накладных*/
#agentStatusContainer td:nth-child(5) { width: 35%; }		/*Завершение*/
.tableSeparator {
  height: 1em;
}
#tableSummaryHeaderData td {padding: 5px;}
#tableSummaryHeaderData td:nth-child(1) { width: 20%; }		/*№*/
#tableSummaryHeaderData td:nth-child(2) { width: 20%; }		/*Exchange*/
#tableSummaryHeaderData td:nth-child(3) { width: 30%; }		/*Exchange*/
#tableSummaryHeaderData td:nth-child(4) { width: 15%; }
#tableSummaryHeaderData td:nth-child(5) { width: 15%; }

#tableSummaryData td {padding: 5px;}
#tableSummaryData td:nth-child(1) { width: 20%; }		/*№*/
#tableSummaryData td:nth-child(2) { width: 20%; }		/*Exchange*/
#tableSummaryData td:nth-child(3) { width: 30%; }		/*Exchange*/
#tableSummaryData td:nth-child(4) { width: 15%; }
#tableSummaryData td:nth-child(5) { width: 15%; }

.reportContainer #close {
  position: relative;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 5px;
  max-width: 595px;
  width: 95vw;
  margin: 0 auto;
  float: right;
}
.reportSubject {
  font: normal 12px Arial;
}
#report-ceo,
#report-ceo-netcost,
#report-sales-manager,
#report-by-day,
#report-by-sp,
#report-by-netcost,
#salary-report,
#ingredients-report {
  padding: 5px;
  margin: 5px;
  width: 90%;
  z-index: 2000;
}
#dateStart, #dateEnd {
  width: 100%;
}
.reportContainer {
  top: 10vh;
  position: relative;
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  background-color: white;
  z-index: 1002;
}
.reportMenuContainer {
  top: 10vh;
  position: relative;
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  z-index: 1002;
}
.reportMenuContainer .panel {
   background-color: rgb(246, 248, 245);
}
#overflw {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 90vh;
  min-height: 10vh;
}
.additional {
  height: 150px;
}
.reportContainer #tableHeader td {
  border-right: 2px solid #999;
  font-weight: bold;
  text-align: center;
}
.reportContainer #tableHeader td {padding: 5px;}
.reportContainer #tableHeader td:nth-child(1) { width: 50px; }		/*№*/
.reportContainer #tableHeader td:nth-child(2) { width: 50px; }		/*Exchange*/
.reportContainer #tableHeader td:nth-child(3) { width: 300px; }		/*NAME*/
.reportContainer #tableHeader td:nth-child(4) { width: 50px; }		/*Quantity*/
.reportContainer #tableHeader td:nth-child(5) { width: 50px; }		/*Total*/
.reportContainer #tableHeader td:nth-child(6) { width: 50px; }		/*Return*/

.tableData td {
  font: normal 14px Arial;
  color: black;
  padding: 5px;
  border: 1px solid #999;
}

.tableData td:nth-child(1) { width: 50px; text-align: right;}
.tableData td:nth-child(2) { width: 50px; text-align: center;}
.tableData td:nth-child(3) { width: 300px; text-align: left;}
.tableData td:nth-child(4) { width: 50px; text-align: left;}
.tableData td:nth-child(5) { width: 50px; text-align: left;}
.tableData td:nth-child(6) { width: 50px; text-align: center;}

.reportContainer table {
  width: 100%;
}
.reportContainer #button-a, #button-b {
  margin-bottom: 10px;
  margin-left: 3px;
  width: 98%;
  height: 40px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
}
.col-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
}
.col-30 {
  float: left;
  width: 33.33%;
}
.col-50 {
  float: left;
  width: 50%;
}
/* Clear floats after the columns */
.row-form:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .col-25, .col-75, input[type=text] {
    width: 100%;
    margin-top: 0;
  }
}
