#connection-submit,
#connection-save,
#connection-load {
  padding: 5px;
  margin: 5px;
  width: 90%;
  z-index: 2000;
}
#dbName, #dbUser, #dbPassword, #login, #password {
  width: 100%;
}
.loginContainer {
  top: 10vh;
  position: relative;
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  padding: 10px;
  z-index: 1001;
}
}
.loginMenuContainer {
  position: relative;
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  z-index: 1002;
}
.loginMenuContainer .panel {
   background-color: rgb(246, 248, 245);
}
