.bird {
  border: 14px solid purple;
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: left;
  display: none;
  vertical-align: middle;
  font-size: 18px;
}
.blindLayer {
  background-color: #F0FFF0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1001;
  display: none;
}
.goodByeParent {
  background-color: #F0FFF0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10001;
}
.goodByeInfo {
  position: relative;
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  background-color: white;
  z-index: 10002;
}
.goodByeInfo button {
  border: none;
  background-color: transparent;
  top: 40vh;
  position: relative;
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  font-size: 1.5em;
}
.bcontainer {
  position: relative;
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  height: calc(100vh + 3%);
  background-color: white;
  padding: 20px;
  display: none;
  z-index: 1002;
  padding-bottom: 3%;
}
#overflw
{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 90vh;
  min-height: 10vh;
}
.additional {
  height: 150px;
}
#bcaption
{
  background: #C0C0C0;
}
#bcaption td
{
  border-right: 2px solid #999;
  font-weight: bold;
  text-align: center;
}
#bcaption td {padding: 5px;}
#bcaption td:nth-child(1) { width: 50px; }		/*ID*/
#bcaption td:nth-child(2) { width: 300px; }		/*NAME*/
#bcaption td:nth-child(3) { width: 100px; }		/*PRICE*/
#bcaption td:nth-child(4) { width: 150px; }		/*NUM*/
#bcaption td:nth-child(5) { width: 70px; }		/*SUM*/

.bitem td
{
  font: normal 18px Arial;
  color: #999;
  padding: 5px;
  border-bottom: 1px solid #999;
  border-right: 2px solid #FFF;
}

.bitem td:nth-child(1) { width: 50px; }
.bitem td:nth-child(2) { width: 300px; }
.bitem td:nth-child(3) { width: 100px; text-align: center;}
.bitem td:nth-child(4) { width: 150px; text-align: center;}
.bitem td:nth-child(5) { width: 70px; text-align: center;}

#bclose {
  float: right;
  padding-bottom: 20px;
}
#orderClose {
  position: relative;
  padding-bottom: 20px;
  font: normal 18px Arial;
  max-width: 595px;
  width: 95vw;
  margin: 0 auto;
  float: right;
}
.bcontainer table
{
  width: 100%;
}
.bbutton
{
  color: #999;
  padding: 20px;
  font: bold 16px Arial;
  margin-bottom: 10px;
}
#bsum
{
  float: left;
  position: relative;
  padding-bottom: 10px;
  font: normal 18px Arial;
  max-width: 595px;
  width: 95vw;
  margin: 0 auto;
}
#cart {
   top: -1px;
}
#orderHeader {
  position: relative;
  padding-bottom: 20px;
  font: normal 18px Arial;
  max-width: 595px;
  width: 95vw;
  margin: 0 auto;
  float:left;
}
.popup {
  background-color: white;
  padding: 20px;
  position: relative;
  max-width: 700px;
  width: 100vw;
  height: calc(100vh + 3%);
  margin: 0 auto;
  z-index: 2002;
  display: none;
  padding-bottom: 3%;
}
.buttonSend {
   width: 100%;
   padding: 20px;
   margin-top: 15px;
}
.popup h4	{
		margin-bottom: 4px;
}
.popup input[type="text"] {
  text-align: center;
  font-style: italic;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0;
}
.popup textarea {
  display: block;
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}
.basket_num
{
  padding: 4px;
  background: #F0F0F0;
}
.basket_num_buttons
{
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin: 0 5px;
  display: inline-block;
  color: #FFF;
  background: #000;
  text-align: center;
  cursor: pointer;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container-form {
  background-color: #F0FFF0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1001;
  display: none;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row-form:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .col-25, .col-75, input[type=text] {
    width: 100%;
    margin-top: 0;
  }
}
